*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(to right , #2a0845,#6441a5);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(216,214,214);
    box-shadow: rgb(0,0,0) 0px 5px 15px;
    width: 400px;
}

.header{
    color: #fff;
    text-align: center;
    background-color: #2a0845;
    padding: 20px 40px;
    border-bottom: 2px solid #494848;
}

.form{
    padding: 30px 40px;
}

.form-group{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    text-align: center;
    justify-content: center;
    border: 0.5px solid black;
    padding: 8px;
    
}
.form-group i{
    position: absolute;
    right: 10px;
    top: 35px;
    visibility: hidden;
}

.form-group span{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bolder;
    font-size: 1rem;
    font-style: italic;
    visibility: hidden;
}

#back{
    text-align: center;
    padding: 3px;
    color: red;
    
    

}
/* 
@media only screen and (max-width : 500px){
    .form{
        width: 100%;
    }
    .form-group span{
        font-size: xx-small;
    }
} */